:root{
  --clr-black: #0F1111;
  --clr-white: #F7F8F8;
  --page-padding: 4rem;
  --font-size-header: 24px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--clr-black);
}

/* HEADER */

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem var(--page-padding); 
  font-size: var(--font-size-header);
}

header a{
  text-decoration: none;
  color: var(--clr-white);
}

header menu{
  list-style: none;
  display: flex;
  gap: 3rem;
}