h1, h2{
  font-family: var(--font-family-title);
  color: var(--clr-white);
  font-size: var(--font-size-title);
}

h3:not(footer h3){
  font-family: var(--font-family-title);
  color: var(--clr-white);
  font-size: var(--font-size-small-title);
}

.longTitleContainer{
  position: relative;
  margin: 5rem 0;
}

img.headerBackground{
  min-height: 5rem;
  object-fit: cover;
}

.longTitleContainer h2{
  position: absolute;
  color: var(--clr-black);
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
}

p{
  font-size: var(--font-size-description);
  font-family: var(--font-family-description);
  color: var(--clr-white);
  margin: 0.5rem 0;
}

button:not(.next, .prev){
  background: url('../images/webpage/elements/button_background.png') no-repeat scroll 0 0 transparent ;
  width: var(--width-btn);
  height: var(--height-btn);
  background-size: 100% 100%;
  border: none;
  font-family: var(--font-family-btn);
  font-size: var(--font-size-btn);
  font-weight: var(--font-weight-btn);
  cursor: pointer;
}

nav:has(button) button{
  margin: 0.5rem 1rem 0 0;
  flex: 1;
  min-width: 12rem;
  max-width: 18rem;
}
nav:has(button) a{
  flex: 1;
  min-width: 12rem;
  max-width: 18rem;
  display: flex;
  text-decoration: none;
}

:not(nav) button{
  margin-top: 1.5rem;
}

nav:has(button){
  display: flex;
  margin-top: 1.5rem;
  flex-wrap: wrap;
  justify-content: start;
  gap: 0.5rem;
}

nav.right:has(button){
  justify-content: end;
}

main> section:first-child{
  margin-top: 5rem;
}

h2+section{
  margin-top: 1rem;
}

section section{
  margin: 0;
}

h2:has(+section){
  margin-top: 3rem;
}

main section{
  margin-top: 3rem;
}

aside{
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: right;
}

aside.left{
  text-align: left;
  align-items: start;
}

section.withPic{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3vw;
  max-height: 100vh;
}

.withPic > figure{
  align-self: center;
}

.withPic .images{
  align-self: center;
  width: 100%;
  height: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  grid-auto-rows: auto;
}

. withPic .tall {
  grid-row: span 2 / auto;
}

.images img:not(.tall){
  grid-column: span 2 / auto;
}

img{
  width: 100%;
}

body .carouselContainer figure{
  align-self: center;
  width: 100%;
}

div.carouselContainer{
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

ul.slider{
  display: flex;
  width: 50%;
  gap: 7vw;
}

.slider figure{
  min-width: 100%;
}

div.carouselContainer button{
  position: absolute;
  margin: 0;
  padding: 4px 8px;
  border: none;
  border-radius: 12px;
  background-color: var(--clr-black);
  color: var(--clr-white);
  top: 50%;
  transform: translateY(-50%);
  font-size: var(--font-size-title);
  opacity: 0.8;
  transition: opacity 0.4s;
}

div.carouselContainer button:hover{
  opacity: 1;
}

div.carouselContainer button.prev{
  left: 0;
}
div.carouselContainer button.next{
  right: 0;
}

.usp{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3rem;
  margin-top: 3rem;
}

.usp article{
  max-width: 15rem;
}

#contactMe{
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  gap: 3rem;
}

#contactMe address ul{
  display:  flex;
  margin-top: 1rem;
  flex-direction: column;
  gap: 1.5rem;
}

#contactMe address ul li{
  list-style: none;
  display: flex;
  align-items: center
}

#contactMe a{
  text-decoration: none;
  color: var(--clr-white);
  font-family: var(--font-family-description);
  font-size: var(--font-size-description);
}

#contactMe li img{
  width: 2em;
  margin-right: 2ch;
}

#contactMe a:hover{
  text-decoration: underline;
}

#contactMe .faq h3{
  text-align: center;
}

#contactMe summary{
  color: var(--clr-white);
  font-size: var(--font-size-btn);
  font-family: var(--font-family-description);
  font-weight: 600;
  cursor: pointer;
}

#contactMe h3:not(.faq h3){
  color: var(--clr-black);
}

#contactMe h3{
  color: var(--clr-black);
  position: relative;
  margin-bottom: 3rem;
  width: calc(var(--font-size-small-title) * 7);
}

#contactMe .faq img{
  width: calc(var(--font-size-small-title) * 7);
  position: absolute;
  z-index: -1;
  top: -50%;
  left: 0;
}

#contactMe .findMeHere h3 img{
  position: absolute;
  top: 0;
  z-index: -1;
  left: -1ch;
  height: 2em;
  width: calc(var(--font-size-small-title) * 8);
}
